body {
	margin: 0;
	background-color: #ddd;
	color: #fff;
	font: 14px/1.4em 'Varela Round','Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
	min-width: 960px;
}

a{
    color: #00a5f0;
    font-size: 12px;
}

h2 {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 16px;
    position: fixed;
    text-align: center;
    top: 0;
    right: 200px;
    width: 100%;
}

#logo a {
    background: url("http://9gag.com/img/headbar-logo-v3.png");
    display: block;
    height: 20px;
    left: 15px;
    position: fixed;
    top: 15px;
    width: 120px;
    z-index: 999;
}

#logo a:active {
    margin-top: 1px;
}

a#close {
    background-color: #333;
    border-radius: 5px ;
    box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    -webkit-box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    display: block;
    font-size: 11px;
    padding: 2px 8px;
    position: fixed;
    right: 415px;
    text-align: center;
    top: 13px;
    z-index: 999;
    text-shadow: 0 -1px rgba(0,0,0,0.5);
    -moz-transition: background-color 0.2s linear 0s;
    -webkit-transition: background-color 0.2s linear 0s;
}

a#close:hover {
    color: #24bbff;
    background-color: #444;
}

a#close:active {
    margin-top: 1px;
}

.left {
    margin-left: 15px;
    margin-top: 102px;
    position: fixed;
}

.right {
    margin-right: 15px;
    right: 400px;
    margin-top: 102px;
    position: fixed;
}

a#load-prev, a#load-next {
    background: url("http://i.imgur.com/hrhzS.png");
    width: 45px;
    height: 93px;
    display: block;
    opacity: 0.5;
    -moz-transition: opacity 0.2s linear 0s;
    -webkit-transition: opacity 0.2s linear 0s;
}

a#load-next {
    background: url("http://i.imgur.com/bofnQ.png");
}

a#load-prev:hover, a#load-next:hover{
    opacity: 1;
}

a#load-prev:active, a#load-next:active {
    margin-top: 1px;
}

.post-container .img-wrap{
    text-align: center;
    margin-right: 400px;
}

.post-container ._social{
    background: #000;
    width: 100%;
    position: fixed;
    top: 50px;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 1px #000;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 1px #000;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 1px #000;
    height: 26px;
    right: 200px;
}

.post-container ._social.facebook{
    padding-left: 55px;
    padding-top: 7px
}

.post-container img{
    margin-top: 105px;
}

.post-container .video-post{
    padding-top: 105px;
}

.post-container .big-fat-dick {
    height: 40px;
    margin-top: -46px;
    background: #000;
    position: relative;
}

.hint {
    background: rgba(0,0,0,0.9);
    color: #3D9400;
    font-size: 11px;
    font-weight: normal;
    margin: 0 auto;
    padding-bottom: 6px;
    padding-top: 6px;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-shadow: 0 -1px #000;
    right: 200px;
}   

#block-content .right-comment {
    width: 400px;
    right: 0;
    top: 0;
    background: #000;
    position: fixed;
    height: 100%;
    marign-top: -1px;
    z-index: 333;
    padding: 10px;
    border-left: 1px solid #222;
    margin-right: -10px;
    padding: 10px 0 0 10px;
    margin-right: -15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.spread-bar .facebook-btn, .spread-bar .twitter-btn, .spread-bar .google-btn {
    float: left;
}

.spread-bar .twitter-btn {
    margin-right: 10px;
    width: auto;
}

.spread-bar .facebook-btn {
    margin-right: 2px;
}