body {
	background: #000;
	margin:0;
}
.page{
	margin:0pt;
	top:0px;
	margin-top:0px;
}
.left {
	top:102px;
	margin-left: 15px;
	width: 45px;
	height: 93px;
	position: fixed;	
	text-align:left;
	z-index:999;
}
.left a.bx-prev {
	width: 45px;
	height: 93px;
	display: block;
	opacity: 0.5;
	text-indent: -999999px;
	border:0;

	background: url(../bx_styles/prev.png);
}
.right{
top:102px;
right: 400px;
margin-right: 15px;
width: 45px;
height: 93px;
position: fixed;
z-index:999;
}
.right a.bx-next {
	top:102px;
	width: 45px;
	height: 93px;
	display: block;
	opacity: 0.5;
	text-indent: -999999px;
	background: url(../bx_styles/next.png);
	border:0;
}

.right a.bx-next:hover,
.left a.bx-prev:hover {
	opacity: 1;
}

.content{
	margin-top:102px;
	right:400px;
}
.wrapper{
	margin-left:65px;
	margin-right:400px;
	margin-top:102px;
}
.wrapper img{

	border:0;
	margin-left: auto;
	margin-right: auto;
	width: expression(width>720?"720px":width+"px");
	max-width: 720px;
	align:center;
	padding:0;
}


#logo a {
background: url("http://9gag.com/img/headbar-logo-v3.png");
display: block;
height: 20px;
left: 15px;
position: fixed;
top: 15px;
width: 120px;
z-index: 999;
}

.img-wrap {
	text-align:center;
	right:400px;
}

h2 {
background: none repeat scroll 0 0 black;
color: white;
font-size: 20px;
font-weight: normal;
margin: 0 auto;
padding-bottom: 15px;
padding-top: 16px;
position: fixed;
text-align: center;
top: 0;
right: 200px;
width: 100%;
}
a#close {
    background-color: #333;
    border-radius: 5px ;
    box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    -webkit-box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    display: block;
    font-size: 11px;
    padding: 2px 8px;
    position: fixed;
    right: 415px;
    text-align: center;
    top: 13px;
    z-index: 999;
    text-shadow: 0 -1px rgba(0,0,0,0.5);
    -moz-transition: background-color 0.2s linear 0s;
    -webkit-transition: background-color 0.2s linear 0s;
}

a#close:hover {
    color: #24bbff;
    background-color: #444;
}

a#close:active {
    margin-top: 1px;
}

.post_container{
	margin:0pt;
	top:0px;
	margin-top:0px;
}
.post_container ._social {
background: black;
width: 100%;
position: fixed;
top: 50px;
border-bottom: 1px solid #222;
border-top: 1px solid #222;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 1px #000;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 1px #000;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 1px #000;
height: 26px;
right: 200px;
z-index:999;
}
#block-content .right-comment {
    width: 400px;
    right: 0;
    top: 0;
    background: #000;
    position: fixed;
    height: 100%;
    marign-top: -1px;
    z-index: 999;
    padding: 10px;
    border-left: 1px solid #222;
    margin-right: -10px;
    padding: 10px 0 0 10px;
    margin-right: -15px;
 }
 #ad{
position: fixed;
top: 0px;
right: 0px;
z-index: 9999;
background-color: black;
width: 392px;
height: 290px
}
#ad_content{
	width: 300px;
	height: 250px;
	margin: 20px 45px;
	padding: 0px 0px;
}

.hint {
background: rgba(0, 0, 0, 0.9);
color: #3D9400;
font-size: 11px;
font-weight: normal;
margin: 0 auto;
padding-bottom: 6px;
padding-top: 6px;
position: fixed;
text-align: center;
bottom: 0;
width: 100%;
text-shadow: 0 -1px black;
right: 200px;
}
