/*1328574559,169776067*/

.achievementLockedContainer{position:relative}
.achievementLockedOverlay{z-index:1;position:absolute;right:21px;top:18px;pointer-events:none}
.achievementPreview{display:block;margin-right:1px}
.achievementLockedContainer .achievementPreview{filter:alpha(opacity=30)}
.achievementTooltip{display:block}
.UIImageBlock_Entity .UIImageBlock_Image .achievementLockedOverlay{width:11px;height:13px}
i.img{overflow:hidden}
i.img u{position:absolute;top:-9999999px}

#bootloader_J9MVU { height: 42px; }